@import "theme/_main";

// You can add additional styling here
.navbar-logo .navbar-logo_img {
  max-height: 3rem;
  margin-right: 24px;
}

.floatingHero.home {
  .feature-content {
    text-align: left;
    width: 800px;
    margin: auto;
  }