@import "theme/_main";

// You can add additional styling here
.navbar-logo .navbar-logo_img {
  max-height: 3rem;
  margin-right: 24px;
}

.home {
  .feature-content {
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    width: $navbar-breakpoint;
    max-width: 100%;
  }
  .feature-description {
    margin: initial;
    padding: 0;
    width: 500px;
    p {
      font-weight: 500
    }
  }
  .feature-title {
    width: 500px;
    font-size: 4rem;
  }
}